body{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
	width: 80%;
    margin-left: 10%;
}

.use{
    width: 100%;
    margin-bottom: 200px;
}

.useLinks > p {
    width: 60%;
}

.useLinks{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    margin-top: 20px;
    gap: 40px;
    box-shadow: 10px 10px 10px lightgrey;
    border: 1px solid rgba(211, 211, 211, 0.404);
}

.routeLink{
    text-decoration: underline;
    color: black;
    letter-spacing: 1px;
}

.row{
    flex-direction: row;
}

.left{
    justify-content: left;
}

.right{
    justify-content: right;
}

.useLinks > a:hover{
    color: gray;
}

.betweenLinkText{
    padding-left: 5px;
    padding-right: 5px;
}